body{
    margin-left: 3em;
}
#header1{
    padding: 13px 0px;
    background-color: rgba(171, 194, 190, 0.329);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: max-content;
    background-size: cover;
    margin-bottom: 2em;
    padding-bottom: 12px;
    margin-left: 9em;
    margin-top: 2em;
}
ul li{    
    list-style: none;
    text-align: center;
    display: block;
    margin: 0;
    border-right: 1px solid rgba(0,0,0,0.2);
    float: right;
    margin-top: 0em;
}
ul li:last-child{
    border-right: none
}
 ul li a 
 {
    text-decoration: none;
    padding: 0 38px;
    display: block;
    color: black;
    font-size: small;
}
ul li a .icon{
    width: 35px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 3px;
    border-radius: 00.5em;

}
ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color:#000
}
ul li a .icon .fa:last-child{
color:#3d0437;
}
ul li a:hover .icon .fa{
    transform: translateY(-100%);
}
ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
}
