{% extends "auctions/layout.html" %}
<meta name="viewport" content="width=device-width , initial-scale=1.0">
{% block body %}
<style type="text/css" scoped>
.sign{
    margin-left: 24em;
    font-size: 20px;
}
.container{
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 990px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.pro-img img{
  float: left;
  height: auto;
  width: 357px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  margin-right: 1em;
}
.pro-text{
  height: 350px;
}
.pro-text h1{
  margin: 0 0 8px 38px;
  padding-top: 20px;
  font-size: 34px;
  color: #474747;
}
.pro-text h2{
  margin: 0 0 17px 38px;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
}
.pro-text p {
  margin: 0 0 0 38px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}
.pro-btn{
  margin-top: 3em;
  height: 103px;
  position: relative;
}
.pro-btn input{
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 38px 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}
.pro-btn input:hover{
  background-color: #79b0a1;
}

</style>
      <div class="sign">
        <!--if user is signed in -->
        {% if user.is_authenticated %}
        <p>Signed in as <strong>{{ user.username }}</strong></p>
        {% else %}
        <!--if user isn't signed in-->
        <p>Not signed in </p>
        {% endif %}
      </div>

        {% for list in Listings %}
       <div class="container">
        <!--Loop oover all the available listing-->
          <div class ="pro-img">
            <img src="{{list.link}}" alt="...">
          </div>
          <div class="pro-info">
            <div class="pro-text">
              <h1>{{list.title}}</h1>
              <h2>{{list.explnation}}</h2>
              <p><strong>Category:</strong> {{list.Category}}</p>
              <p><strong>Starting Price:</strong> {{list.price}} AED</p>
              {% if list.price == list.bid %}
              <p>No bid yet ! Be the First.</p>
              {% else %}
              <p><strong>Current Bid:</strong> {{list.bid}} AED</p>
              {% endif %}
              <p class="imp"><strong>Created On:</strong> {{list.time}} by {{list.holder}}</p>
            </div>
            <div class="pro-btn">
              <form action="{% url 'viewlisting' list.id %}">
                <input type="submit" value="View Details">
              </form>
            </div>
            </div>
            </div>
    {% endfor %}
{% endblock %}